body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    position: fixed;
    background:white;
    padding: 20px;
    width: 100%;
    height: 70px;
    
}
input[type="search"]{
    width: 700px;
    height:70px;
    
}

.left_area h3 {
    color:black;
    /* color: #fff; */
    /* margin:0; */
    margin-top: -20px;
    /* newly added */
    margin-left:5%; 
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
}

.left_area span {
    color: #1DC4E7;
}
#pic{
    margin-top:-32px;
    float: right;
    color:black;
}
.logout_btn {
    /* padding: 5px; */
    padding: 0px;
    /* background: #198303; */
    text-decoration: none;
    float: right;
    margin-top: -32px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
}

.input-group .form-outline {
    margin-top: -32px;
    margin-left: 30%;
    width: 400px;
}

input[type="search"] {
    height: 25px;
 background-color : rgb(231, 229, 229);
}

.logout_btn:hover {
    background: #0D9D6B;
}

.sidebar {
    background: whiteb;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
}

.sidebar a {
    /* color: #fff; */
    color:black;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  
}
.sidebar a:hover {
    background: lightpink;
    border-radius:0px 30px 30px 0px;  
}


.sidebar i {
    padding-right: 10px;
}

label #sidebar_btn {
    z-index: 1;
    color: black;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: 25px 0;
    margin-left:-17%;
    /* newly added refactor*/
    /* margin-left:-15%;  */
    transition: 0.5s;
    transition-property: color;

}

#form1{
    height:35px;
}
 label #sidebar_btn:hover {
    color: white;
    
}


#check:checked ~ .sidebar {
    left: -190px;
}

#check:checked ~ .sidebar a span {
    display: none;
}

#check:checked ~ .sidebar a {
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
} 

/* #check{
    display:none;
}  */

#list{
    margin-top:-25px;
    font-size:25px; 
    float:right;
    color:grey;
    margin-left:28%;  
}