$border:black;
$background_btn:#719BE6;
$white:#FFFFFF;
$anchor_colors:blue;
$box_login_shadow:#333333;

$border_Frgt:#c0c0c0;
$blueViolet:blueviolet;
$light_blue:#3B5998;

$black:black;
$dull_white:#fff;
$Grey:grey;

$box_shadow:#ccc;