.carddisplay-section{
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	align-content: space-around;
	gap: 10px;
}
.container {
	height: 180px;
	background: #fff;
	padding: 7px;
	border-radius: 7px;
	box-shadow: 5px 5px 10px #e0dede;
	margin-top: 5%;
	margin-left: 18%;
	margin-right: -15%;
	float: left;
	width: 22%;
}
.card-content {
	h5 {
		font-size: 20px;
		font-weight: 400;
		font-family: 'Times New Roman', Times, serif;
		padding-left: 10px;
	}
	p {
		font-size: 18px;
		width: 90%;
		height: 60px;
		font-family: 'Times New Roman', Times, serif;
		width: 100%;
		border: none;
		padding: 7.5px 10px;
		outline: none;
	}
}
.card-button {
	float: right;
	margin-top: -1px;
	margin-left: 240px;
	font-size: 14px;
	border: none;
	background: none;
	font-family: 'Times New Roman', Times, serif;
}
.note-icons {
	visibility: hidden;
}
.note {
	&:hover {
		.note-icons {
			visibility: visible;
		}
	}
}
.imported-icons {
	margin-top: 10%;
}

.card-content p,h5 { 
	word-break: break-word;
	overflow-wrap: break-word;
}