
.card-content {
	input {
		border: none;
	}
	textarea {
		border: none;
		outline: none;
	}
}
/* dividing the width percentage */
.container {
	height: 200px;
	width: 27%;
	float:left;
	margin: -3.5%;	
	margin-left:18%;
	margin-top: 5%;
	border-style: ridge;
}
.import-icons {
	display: block;
	margin-left: -2%;
	padding-top: 25%;

	button {
		border: none;
		background: none;
		float: right;
		font-weight: 600;
		font-family: Arial, Helvetica, sans-serif;
		margin-top: -6%;
		padding-left: 400px;
	}
}
.note-icons { 
	visibility: hidden;
}
.note:hover .note-icons {
	visibility: visible;
}
p{
	margin-top:1px;
}