@import "colors";
h3 {
	text-align: center;
	color: $blueViolet;
	margin-top: -10%;
}
button[type="submit"] {
	width: 22%;
	margin-left: 38%;
	margin-top: 30px;
	margin-bottom: -15%;
	width: 25%;
	margin-left: 35%;
}
.jumbotron {
	background-color: $white;
}
input[type="email"] {
	margin-top: 20px;
	width: 70%;
	margin-left: 80px;
}
input[type="password"] {
	margin-top: 20px;
	width: 70%;
	margin-left: 80px;
}
