.sp1 {
	color: red;
	letter-spacing: 2px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-weight: 600;
}
.sp2 {
	color: gold;
	font-family: cursive;
}
.sp3 {
	color: lightcoral;
	font-family: cursive;
}
.sp4 {
	color: green;
	font-family: cursive;
}
.sp5 {
	color: indigo;
}
.sp6 {
	color: orangered;
}
